doctype html
html
  head
    title Advice
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet")
  body
    block content
