body {
  padding: 50px;
  font-family: 'Fredoka One', cursive;
  color: white;
  background-color: #4C4C4C;
  padding: 20px 50px 0 50px;
}

a {
  color: #00B7FF;
}

h3 {
  font-size: 2rem;
}

div {
  padding: 20px 0 20px 0;
}

#title {
  color: white;
  font-size: 4rem;
  padding-bottom: 20px;
}
